.block{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    pad: 10px;
    background-color: rgb(5, 77, 61);
    color: white;
    font-family: cursive;
    margin-top: 10px;
    cursor: pointer;
}

.img{
    width: 300px;
    height: 300px;
} 