.btn {
	border-radius: 50px;
	cursor: pointer;
	width: 200px;
	background: none;
	margin: 10px 0;
	font-size: large;
	height: 50px;
}

.btn:hover {
	color: rgb(206, 222, 223);
}

.btn-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px;
}

.App{
  width: 1200px;
  margin: 0 auto;
  font-family: cursive;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn1{
  margin-left: 100px;
  font-size: large;
  background: none;
  cursor: pointer;
  border-radius: 12px;
}

.btn1:hover {
	color: rgb(192, 207, 228);
}

h1 {
	color: white;
}